<ActionBar class="action-bar dashboard">
 
  <Label class="mdi drawer-icon" [text]="'mdi-list' | fonticon" (tap)="toggleDrawer()"></Label>
</ActionBar>
<RadSideDrawer tkExampleTitle tkToggleNavButton>
  <GridLayout rows="auto, auto, *" cols="*" tkDrawerContent class="sideStackLayout">
    <StackLayout row= "0" class="sidedrawer-header">
        <!-- Set src attribute to the logo of the app -->
        <Image
            class="sidedrawer-header-image" src = "~/image/me.jpg">
        </Image>
        <Label
            class="sidedrawer-header-brand"
            text="NS NG Drawer Starter">
        </Label>
      </StackLayout>
      <StackLayout row = "1" class="sideStackLayout">
          <Image [src] = "imgsrc"></Image>
      </StackLayout>
      <StackLayout row ="2" orientation="horizontal" >
        <GridLayout rows ="*" cols="*,*" class = "icons">
        <Label class="mdi logout-icon" [text]="'mdi-lock-outline' | fonticon" col="0" ></Label>
        <Label class="mdi edit-icon" [text]="'mdi-mode-edit' | fonticon" col="1"></Label>
      </GridLayout>
      </StackLayout>
      <Label (tap)="onCloseDrawerTap()"></Label>
  </GridLayout>
  <StackLayout tkMainContent>
      <!-- <Label [text]="mainContentText" textWrap="true" class="drawerContentText"></Label> -->
        <label text = "pinky and motuu"></label>
  </StackLayout>
 
</RadSideDrawer>

