<ScrollView orientation="vertical">

<StackLayout orientation
=
"vertical">
 <stackLayout>
    <Label text="First Name"></Label>
    <TextView [(ngModel)]="FName"></TextView>

    <Label text="Last Name"></Label>
    <TextField class="input input-border"></TextField>


   <Label text="Email"></Label>
   <TextField class="input input-border" ></TextField>

    <Label text="Password"></Label>
    <TextField class="input input-border" secure="true" ></TextField>

    <Label text="Phone Number"></Label>
    <TextField class="input input-border"></TextField>
</stackLayout>

<Button text="Sign up" (tap)="signUp()"></Button>
</StackLayout>
</ScrollView>
 