<StackLayout>
      
      <StackLayout>
            <Label text="username"></Label>
            <TextField [(ngModel)]="user.email" class="input input-border"></TextField>
      </StackLayout>
      
      <StackLayout class="input-field">
            <Label text="password"></Label>
            <TextField [(ngModel)]="password" class="input input-border" secure="true" ></TextField>
      </StackLayout>
      
      <Button text="login" (tap)="login()" class="submit-button"></Button>
</StackLayout>
