.edit-icon
{
    font-size: 30px;   
    vertical-align: bottom;
    horizontal-align : center;
    color: red;
   padding-top: 75%;
   padding-left: 75%
}
.edit-image
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #fff;
    horizontal-align : center;
}
