.edit-icon
{
    font-size: 30px;   
    vertical-align: bottom;
    horizontal-align : center;
    color: red;
}
.edit-image
{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-color: #fff;
    horizontal-align : center;
}