<ScrollView orientation="vertical">

  <StackLayout orientation
  =
  "vertical">
   <stackLayout>
      <Label text="First Name"></Label>
      <TextField required [(ngModel)]="user.name"></TextField>
  
     <Label text="Email"></Label>
     <TextField required [(ngModel)]="user.email" class="input input-border" ></TextField>
     <!-- <GridLayout columns="*, 50" rows="*" width="210" height="210" >
      <Image class= "edit-image" row="0" col="0" [src] = "profilePic" >  </Image>   
        <label class="mdi edit-icon" [text]="'mdi-mode-edit' | fonticon"></label> 

  </GridLayout> -->
  <!-- <grid-layout rows="220, auto" columns="*, *, *" id="cardReport" >
      <image [src] = "profilePic" colSpan="3" row="0"></image>
      <label class="mdi edit-icon" [text]="'mdi-mode-edit' | fonticon" textWrap="true" row="0" col="1"
             horizontalAlignment="right"></label>
  </grid-layout> -->
  
  <StackLayout horizontalAlignment="center">
      <AbsoluteLayout>
      <image class = "edit-image" [src] = "profilePic"></image>
    <StackLayout>
      <label class="mdi edit-icon" [text]="'mdi-mode-edit' | fonticon" ></label>
            </StackLayout>
            </AbsoluteLayout>
            </StackLayout>    

  </stackLayout>
  
  <Button text="update" (tap)="update()"></Button>
  <Button text="logs" [nsRouterLink]="['/profile']"></Button>
  </StackLayout>
  </ScrollView>
   
