<ScrollView>
    <StackLayout  orientation="vertical">
        
        <Card:CardView class="recent-card" radius="10" loaded="cardLoaded" elevation="20" margin="10" id="main-card">
            <grid-layout rows="200, auto, auto" columns="auto, auto, *">
                <image [src]="mainImage" class="recent-card-image" stretch="aspectFill" colSpan="3" row="0" />
                <grid-layout rows="*" columns="*, 3*, *" row="1" colSpan="3">
                    <image [src]="senderImage" class="sender-image" stretch="aspectFill" col="0"></image>
                    <label [text]="senderMessage" class="info h3 p-15" textWrap="false" col="1"></label>
                    <image src="~/icons/img-8.png" class="main-card-like" stretch="aspectFill" col="2"></image>
                </grid-layout>
            </grid-layout>
        </Card:CardView>
        
        <!-- <grid-layout rows="*,*,*" columns="*, *" margin="5">
            <Card:CardView class="blueCard" margin="5" row="0" col="0" elevation="20">
                <StackLayout margin="0">
                    <image src="~/icons/img-3.png"  class="small-card-msg" stretch="aspectFill"/>
                    <image src="~/icons/img-9.png"  class="small-card-sender" stretch="aspectFill"/>
                </StackLayout>
            </Card:CardView> 
            <Card:CardView class="blueCard" margin="5" row="0" col="1" elevation="20">
                <StackLayout margin="0">
                        <image src="~/icons/img-4.png"  class="small-card-msg" stretch="aspectFill"/>
                        <image src="~/icons/img-9.png"  class="small-card-sender" stretch="aspectFill"/>
                </StackLayout>
            </Card:CardView>
            <Card:CardView class="blueCard" margin="5" row="1" col="1" elevation="20">
                <StackLayout margin="0">
                        <image src="~/icons/img-5.png"  class="small-card-msg" stretch="aspectFill"/>
                        <image src="~/icons/img-9.png"  class="small-card-sender" stretch="aspectFill"/>
                </StackLayout>
            </Card:CardView>
        </grid-layout> -->

        <!-- <GridLayout class="page">
            <GridView [items]="items" colWidth="50%" rowHeight="100">
              <ng-template let-item="item" let-odd="odd">
                <StackLayout margin="10" [nsRouterLink]="['/item', item.id]" borderColor="blue" borderWidth="2" borderRadius="5" verticalAlignment="stretch" class="list-group-item" [class.odd]="odd">
                  <Label verticalAlignment="center" [text]="item.name" class="list-group-item-text" textWrap="true"></Label>
                </StackLayout>
              </ng-template>
            </GridView>
        </GridLayout> -->

        <GridLayout #contentStack class="page">
            <GridView [items]="gridCards" colWidth="50%" rowHeight="100">
              <ng-template let-item="card" let-odd="odd">
                <Card:CardView class="blueCard" margin="5" elevation="20">
                    <StackLayout margin="0">
                        <image [src]="card.mainImage"  class="small-card-msg" stretch="aspectFill"/>
                        <image [src]="card.senderImage"  class="small-card-sender" stretch="aspectFill"/>
                    </StackLayout>
                </Card:CardView>
              </ng-template>
            </GridView>
          </GridLayout>
        
    </StackLayout>
</ScrollView>