<ActionBar class="action-bar dashboard">
    <Label class="mdi drawer-icon" [text]="'mdi-list' | fonticon" (tap)="toggleDrawer()"></Label>
</ActionBar>
<!-- Side drawer -->
<RadSideDrawer tkExampleTitle tkToggleNavButton>
    <GridLayout rows="auto, auto, *" cols="*" tkDrawerContent class="sideStackLayout">
        <StackLayout row= "0" class="sidedrawer-header">
            <!-- Set src attribute to the logo of the app -->
            <Image class="sidedrawer-header-image" [src]="profilePic"></Image>
            <label class="sidedrawer-header-brand" [text] = "userName"></label>
        </StackLayout>
        <StackLayout row = "1" class="sideStackLayout">
            <Image [src] = "imgsrc"></Image>
        </StackLayout>
        <StackLayout row ="2" orientation="horizontal">
            <GridLayout rows ="*" cols="*,*" class = "icons">
                <Label class="mdi logout-icon" [text]="'mdi-lock-outline' | fonticon" col="0"></Label>
                <button class="mdi edit-icon" [text]="'mdi-mode-edit' | fonticon" col="1" [nsRouterLink]="['/edit-profile']"></button>>
            </GridLayout>
        </StackLayout>
    </GridLayout>
    <StackLayout tkMainContent>
        <AbsoluteLayout>
        <ScrollView class ="sv">
            <StackLayout  orientation="vertical">
                
                <Card:CardView class="recent-card" radius="10" loaded="cardLoaded" elevation="20" margin="10" id="main-card">
                    <grid-layout rows="200, auto, auto" columns="auto, auto, *">
                        <image [src]="mainImage" class="recent-card-image" stretch="aspectFill" colSpan="3" row="0" />
                        <grid-layout rows="*" columns="*, 3*, *" row="1" colSpan="3">
                            <image [src]="senderImage" class="sender-image" stretch="aspectFill" col="0"></image>
                            <label [text]="senderMessage" class="info h3 p-15" textWrap="false" col="1"></label>
                            <image src="~/icons/img-8.png" class="main-card-like" stretch="aspectFill" col="2"></image>
                        </grid-layout>
                    </grid-layout>
                </Card:CardView>
        
                <GridLayout #contentStack class="page">
                    <GridView [items]="gridCards" colWidth="50%" rowHeight="150">
                      <ng-template let-item="card" let-odd="odd">
                        <Card:CardView class="blueCard" margin="5" elevation="20">
                            <StackLayout margin="0">
                                <image [src]="mainImage"  class="small-card-msg" stretch="aspectFill"/>
                                <image [src]="senderImage"  class="small-card-sender" stretch="aspectFill"/>
                            </StackLayout>
                        </Card:CardView>
                      </ng-template>
                    </GridView>
                  </GridLayout>
            

            </StackLayout>
        </ScrollView>
        <StackLayout class = "sc">
                <Label class="mdi add-circle" [text]="'mdi-add-circle' | fonticon" (tap)="AddFriend()"></Label>
        </StackLayout>
    </AbsoluteLayout>
    </StackLayout>
</RadSideDrawer>
<!-- Drawer End -->
<!-- <ScrollView>
    <StackLayout  orientation="vertical">
        
        <Card:CardView class="recent-card" radius="10" loaded="cardLoaded" elevation="20" margin="10" id="main-card">
            <grid-layout rows="200, auto, auto" columns="auto, auto, *">
                <image [src]="mainImage" class="recent-card-image" stretch="aspectFill" colSpan="3" row="0" />
                <grid-layout rows="*" columns="*, 3*, *" row="1" colSpan="3">
                    <image [src]="senderImage" class="sender-image" stretch="aspectFill" col="0"></image>
                    <label [text]="senderMessage" class="info h3 p-15" textWrap="false" col="1"></label>
                    <image src="~/icons/img-8.png" class="main-card-like" stretch="aspectFill" col="2"></image>
                </grid-layout>
            </grid-layout>
        </Card:CardView>

        <GridLayout #contentStack class="page">
            <GridView [items]="gridCards" colWidth="50%" rowHeight="150">
              <ng-template let-item="card" let-odd="odd">
                <Card:CardView class="blueCard" margin="5" elevation="20">
                    <StackLayout margin="0">
                        <image [src]="mainImage"  class="small-card-msg" stretch="aspectFill"/>
                        <image [src]="senderImage"  class="small-card-sender" stretch="aspectFill"/>
                    </StackLayout>
                </Card:CardView>
              </ng-template>
            </GridView>
          </GridLayout>
        
    </StackLayout>
</ScrollView> -->