.cardStyle {
    background-color: #3489db;
    color: #fff;
}

.recent-card-image{
    height: 150;
    width: 150;
    margin-top: 10;
    margin-right: 10;
    margin-left: 10; 
    margin-bottom:0; 
}
.sender-image{
    height: 40;
    width: 40;
    horizontal-align: center;
}

.main-card-like{
    height: 40;
    width: 40;
    horizontal-align: center;
}

.info{
    text-align: center;
}

.small-card-msg {
    height: 100;
    width: 100;
    horizontal-align: center;
    vertical-align: center;
    margin-top: 8;
    margin-right: 8;
    margin-bottom: 0;
    margin-left: 8;
}

.small-card-sender{
    height: 20;
    width: 20;
    horizontal-align: right;
    border-radius: 50%;
    margin-right: 5;
    margin-bottom: 5;
}

/* Side Drawer*/
/* >> sidedrawer-getting-started-angular-css */
button {
    font-size: 15;
    horizontal-align: center;
}

.drawerContentText {
    font-size: 13;
    padding: 10;
}

.drawerContentButton {
    margin: 10;
    horizontal-align: left;
}

.sideStackLayout {
    background-color: gray;
}

.sideTitleStackLayout {
   
    text-align: center;
    
}
.sidedrawer-header {
    padding-top: 1;
    padding-bottom: 1;
    background-color : #333333;
  }
 
  .sidedrawer-header-image{
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin: 5px;
      background-color: #fff;
      horizontal-align : center;
  }
  .sidedrawer-header .sidedrawer-header-brand {
    font-size: 18;
    color:  #fff;
    margin: 5px;
    horizontal-align : center;
    vertical-align : bottom;
  }
  

.sideLabel {
    padding: 10;
}

.sideLightGrayLabel {
    background-color: lightgray;
}
.dashboard{
    text-align: left
}
.drawer-icon{
    color: crimson;
    horizontal-align : left;
    font-size: 45px;
}
.logout-icon
{
    font-size: 30px;
    
}
.edit-icon
{
    font-size: 30px;   
    horizontal-align : right;
}
.icons
{
    vertical-align: bottom;
    margin: 10;
    padding: 10;
}
/* << sidedrawer-getting-started-angular-css */
.sc{
 margin-top: 90%;
 margin-left: 90%
}
.sv
{
 width: 100%;
 height : 100%
}
.add-circle{
    color: crimson;
    horizontal-align : left;
    font-size: 70px;
}